on: [push, pull_request]

name: CI
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.55.0 # MSRV

    steps:
      - uses: actions/checkout@v2
      - name: Checkout

      - uses: actions-rs/toolchain@v1
      - name: Install
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
      - name: Check formatting
        with:
          command: fmt
          args: --all -- --check

      - uses: actions-rs/cargo@v1
      - name: Linting
        with:
          command: clippy
          args: --all-targets

      - uses: actions-rs/cargo@v1
      - name: Building
        with:
          command: build
          args: --all-targets

      - uses: actions-rs/cargo@v1
      - name: Testing
        with:
          command: test
          args: --all-targets
